* {
    padding: 5px;
    margin: 0px;
    box-sizing:border-box;
    text-align: center;
}

p {
    text-align: left;
}

header {
    background-color: #ffa3a3;
}

.profile-picture {
    background-image: url('./image1.png');
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.profile-name {
    font-size: 20vw;
    color: red;
    text-align: left;
}

h1 {
    text-align: center;;
}

main {
    background-color: #adff61;
}

footer {
    background-color: #6dffe4;
}

.project-card {
    margin: 10px 0px;
    background-color: #f2ff8d;
}
.project-card-screenshot {
    background-color: #ffe874;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-card-title {
    display: flex;
}

footer img {
    max-width: 100%;
}